@font-face {
    font-family: 'Favorit';
    src: url('./fonts/Favorit-Book.woff');
    font-feature-settings: 'ss04';
    font-weight: 400;
}

@font-face {
    font-family: 'Favorit';
    src: url('./fonts/Favorit-Medium.woff');
    font-feature-settings: 'ss04';
    font-weight: 500;
}